* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1193px;
  font-family: Poppins;
  font-style: normal;
  margin: auto;
}

main {
  margin-top: 246px;
}

.container {
  width: 1193px;
  height: 140px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.logo_header {
  width: 97px;
  height: 59px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  list-style: none;
}
li > a {
  text-decoration: none;
  color: #666;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

li .nav_botton {
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.social_media_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

div.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 51px;
}

section.hi_pavan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pavan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
}

.meet_block {
  width: 636px;
  height: 297px;
  color: var(--Solid-Heading, #42446e);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}
span {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

p > img {
  width: 58px;
  height: 58px;
}
div.resume {
  color: #42446e;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
  margin-bottom: 38px;
  margin-top: 38px;
}

.about_me_text {
  width: 708px;
  color: var(--dark-content, #666);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

div.position {
  width: 627px;
  height: 28px;
  color: var(--dark-content, #666);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
}
div.time {
  color: var(--Button-text, #018c0f);
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  line-height: 26px;
  background-color: #d7ffe0;
  width: 84px;
  height: 24px;
  border-radius: 100px;
}

div.experience > div > img {
  width: 16px;
  height: 12px;
  color: #a7a7a7;
}

div.company {
  width: 269.333px;
  height: 17px;
  color: var(--light-Content, #a7a7a7);
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
}
div.city {
  width: 100px;
  height: 17px;
  color: var(--light-Content, #a7a7a7);
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
}

div.period {
  width: 194.667px;
  height: 17px;
  color: var(--light-Content, #a7a7a7);

  font-size: 12px;

  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
}

div.experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time_location {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 115px;
  width: 100%;
}
.time_location_education {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 240px;
  width: 100%;
}

.company_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.work_period {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

div.line > img {
  width: 696px;
  height: 2px;
  color: #ebeaed;
}

.work_experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 704px;
  height: 75px;
}
div.icon {
  align-items: center;
}

.tech_stack {
  width: 311px;
  height: 26px;
  color: var(--Solid-Heading, #42446e);
  font-size: 42px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 20px;
}

.my_technologies {
  width: 450px;
  height: 26px;
  color: var(--dark-content, #666);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 140px;
}

.technologies_list {
  width: 1193px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-bottom: 140px;
}

.projects {
  width: 176px;
  height: 26px;
}

.things {
  width: 214px;
  height: 26px;
}

.technologies_list_description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
div.technologies_list_description > div {
  margin-bottom: 60px;
}

p.title {
  width: 305px;
  height: 26px;
  color: #000;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.work_description {
  width: 314px;
  height: 130px;
  color: var(--dark-content, #666);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.skills {
  color: var(--Solid-Heading, #42446e);
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.preview_code {
  display: flex;
  align-items: center;
  gap: 65px;
  padding-left: 20px;
}

.preview {
  display: flex;
  align-items: center;
  gap: 10px;
}

.code {
  display: flex;
  align-items: center;
  gap: 12px;
}
div.preview_code > div > p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-decoration-line: underline;
}

.expirience_block {
  width: 373px;
  height: 577px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}
div.expirience_block > p {
  padding-left: 28px;
}
.mail_us {
  margin-top: 200px;
  margin-bottom: 200px;
}
.questions {
  width: 890px;
  height: 70px;
  color: #1e0e62;
  text-align: center;
  font-family: DM Sans;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  margin-left: 170px;
}

.e_mail {
  width: 716px;
  height: 86px;
  text-align: center;
  font-family: DM Sans;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 270px;
}

.footer {
  margin-bottom: 70px;
  margin-top: 100px;
}

div.footer {
  width: 1193px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.logo_footer {
  width: 97px;
  height: 59px;
}

div.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer_line {
  width: 1209px;
  height: 5.682px;
  color: #666666;
}

.footer_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 52px;
  color: var(--Solid-Heading, #42446e);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.design {
  color: var(--dark-content, #666);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

div.design > span {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.phone {
  color: var(--Solid-Heading, #42446e);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.icon {
  display: flex;
  margin-top: 8px;
}

div > a {
  text-decoration: none;
  color: #666;
}
@media (max-width: 1200px) {
  header {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  header {
    width: 100%;
    height: auto;
  }
  .container {
    justify-content: flex-start;
    gap: 140px;
  }
  .pavan {
    gap: 20px;
  }
  .technologies_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  div.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .pavan {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    gap: 20px;
  }
  body {
    width: 100%;
    height: auto;
  }
}
